<% if model.errors.any? %>
  <div class="error-alert">
    <div class="error-title">
      <p>以下のエラーがあります：</p>
    </div>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class="error-message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>